<h3>Sign Up</h3>
<br>
<form action="/signup" method="POST">
<label for="email"> Email: </label>  
<input type="text" name="email" >
<br>
<label for="password"> Password: </label>
<input type="password" name="password" >
<br>
<label for="manager_name"> Manager Name: </label>  
<input type="text" name="manager_namel" >
<br>
<label for="restaurant_name"> Restaurant Name: </label>  
<input type="text" name="restaurant_name" >
<br>
<br>
  <input type="submit" value="Sign Up">
</form>
