<h3> You are successfully logged in! </h3>
<label for="product[vendor_name]">Choose a Vendor:</label>
  <select name="product[vendor_name]" id="product[vendor_name]">
    <optgroup label="FOH">
      <option value="Classic Wines">Classic Wines</option>
      <option value="Republic">Republic</option>
      <option value="Southern Glaze">Southern Glaze</option>
      <option value="Elite">Elite</option>
      <option value="Breakthru">Breakthru</option>
    </optgroup>
    <optgroup label="BOH">
      <option value="Sysco">Sysco</option>
      <option value="Altamira">Altamira</option>
      <option value="Shamrock">Shamrock</option>
    </optgroup>
  </select>


<p><a href="/logout">Log Out</a></p>