

<h2>Add Product To Your Order</h2>

<form action="/products/new" method="post">
    
    <label for="name">Product Name</label>
    <input id="name" type="text" name="name" value="">
    <label for="quantity">Product quantity</label>
    <input id="quantity" type="text" name="quantity" value="">
    <label for="vendor_name">Choose a Vendor:</label>
  <select name="vendor_name" id="vendor_name">
    <optgroup label="FOH">
      <option value="Classic Wines">Classic Wines</option>
      <option value="Republic">Republic</option>
      <option value="Southern Glaze">Southern Glaze</option>
      <option value="Elite">Elite</option>
      <option value="Breakthru">Breakthru</option>
      <option value="Coors">Coors</option>
    </optgroup>
    <optgroup label="BOH">
      <option value="Sysco">Sysco</option>
      <option value="Altamira">Altamira</option>
      <option value="Shamrock">Shamrock</option>
    </optgroup>
      </select>
    
    <input type="submit" value="Add New Product">
</form>