<h3><%=current_user.manager_name%>, This is the list of orders for <%=current_user.restaurant_name%></h3>

<p>
        <ul style="list-style-type:circle">
            <% current_user.products.each do |product|  %>
            <li><%= product.vendor_name %></li><br>
                <li><%= product.name%></li><br>
            <%end%>
                  
       </ul>
</p>

<p><a href="/logout">Log Out</a> or <a href="/products/new">Add More Products</a></p>

