<div class="container">
  <header><h2> Welcome to Restaurant Supplies Sinatra App </h2>
  </header>
  <div class="col-md-8 col-md-offset-2">
    

    <div class="content">
    
    <br>
    <h4> Sign Up or Sign In and start placing your order!</h4>
    <br>
    <a href="/signup"> Sign Up</a>
    <br>
    <a href="/login"> Log In</a>
    
    
    </div>

    <div class="sidebar">
     
      <ul>
      <ul>
      <li><b>Created By:</b> Valentina Panic </li>
      <li><b>For:</b> Flatiron School</li>
      </ul>
      </ul>
    </div>

  </div>
</div>
